POSTGRES_DB=pawconnect
POSTGRES_USER=pawconnect
POSTGRES_PASSWORD=pawconnect
POSTGRES_PORT=5432

JWT_SECRET=

BREVO_SMTP_USERNAME=your_brevo_smtp_login
BREVO_SMTP_PASSWORD=your_brevo_smtp_key
MAIL_FROM_ADDRESS=your_verified_sender@example.com

APP_MAIL_ENABLED=false

AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;
AZURE_STORAGE_CONTAINER_NAME=pet-photos

CORS_ALLOWED_ORIGINS=http://localhost:4200