POSTGRES_DB=pawconnect
POSTGRES_USER=pawconnect
POSTGRES_PASSWORD=pawconnect
POSTGRES_PORT=5432

JWT_SECRET=

MAILTRAP_USERNAME=your_sandbox_username
MAILTRAP_PASSWORD=your_sandbox_password

APP_EMAIL_ENABLED=false