POSTGRES_DB=pawconnect
POSTGRES_USER=pawconnect
POSTGRES_PASSWORD=pawconnect
POSTGRES_PORT=5432

JWT_SECRET=

MAILTRAP_USERNAME=your_sandbox_username
MAILTRAP_PASSWORD=your_sandbox_password

APP_EMAIL_ENABLED=false

AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;
AZURE_STORAGE_CONTAINER_NAME=pet-photos

CORS_ALLOWED_ORIGINS=http://localhost:4200